-
  guaranteesList = [
    {iconName: "icon-1", title: "Гарантия для участия в тендере", desc: "Обеспечивает обязательства участника тендера, конкурса или аукциона"},
    {iconName: "icon-2", title: "Гарантия исполнения обязательств по договору", desc: "Обеспечивает исполнение обязательств по заключаемому договору"},
    {iconName: "icon-3", title: "Гарантия возврата авансового платежа", desc: "Обеспечивает исполнение обязательств по возврату аванса по договору"},
    {iconName: "icon-4", title: "Гарантия на гарантийные обязательства", desc: "Обеспечивает исполнение гарантийных обязательств по заключаемому договору"},
    {iconName: "icon-4", title: "Гарантия на гарантийные обязательства", desc: "Обеспечивает исполнение гарантийных обязательств по заключаемому договору"},
    {iconName: "icon-3", title: "Гарантия возврата авансового платежа", desc: "Обеспечивает исполнение обязательств по возврату аванса по договору"},
    {iconName: "icon-4", title: "Гарантия на гарантийные обязательства", desc: "Обеспечивает исполнение гарантийных обязательств по заключаемому договору"},
    {iconName: "icon-4", title: "Гарантия на гарантийные обязательства", desc: "Обеспечивает исполнение гарантийных обязательств по заключаемому договору"},
  ]

section.guarantees(id="guarantees")
  .site-container
    .guarantees__wrapper
      h2.guarantees__title.title Все виды банковских гарантий
      ul.guarantees__list(data-quantity="4")
        each item in guaranteesList
          li.guarantees__list-item
            img.guarantees__list-item-icon(src=`assets/images/guarantees/${item.iconName}.svg` alt="")
            .guarantees__list-item-box
              h3.guarantees__list-item-title= item.title
              p.guarantees__list-item-desc= item.desc
      .guarantees__btn
        span показать еще
        span скрыть
        +icon-multi("arrow-down")(width="20px" height="20px")