section.review
  .site-container
    .review__wrapper
      .review__banner
        img.review__banner-img(src="assets/images/contacts/bg-img.svg")
        .review__banner-title
          | Оформите гарантию в удобном личном кабинете
        .review__banner-desc
          | Зарегистрируйтесь для того чтобы оформить гарантию
        button.review__banner-btn.button.button--white Оформить гарантию
      .review__video
        video(autoplay muted loop)
          source(src="https://s3-figma-videos-production-sig.figma.com/video/733935681537057707/TEAM/24d2/d793/-a873-406b-94e9-568a7d28b1e0?Expires=1692576000&Signature=QJf5bqnTwaTwI37-ywCaXPfZhLK8jxcVsGuqIaBVKrnFzOHqGnYr7~F4rmzet4wzJ~Xo~Ks7H4-iUv1edBmryGxRSQ9tfj3dfaVc~-HEhV-~SkZ8AS3BXX~udeZeJnqGWR11ixTRx~vT1rXl4n5Fhpd5NAQ0Bu~cgd0osOXJW2Q7E371d53a1OLw7xJBNPmUFAxwlX63MxyW4WZAWViEBaxQDth19PyL9N-TeRcFYgPcJdR9ycYdBq0gfTBvCKaPFIDiXOaufrPel~pcLnw9vrqmxg7nbMyuy~Lv7cRF9q9VBNNHkzILyymyc4dy1UyYU8L~ohglUe8MOQJj0kqtyw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" type="video/mp4")
        .review__video-inner
          .review__video-title Посмотрите видео-инструкцию по оформления заявки
          .review__video-time 3:48
          a.review__video-play(href="/")
            <svg class="review__video-play-icon" xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
              <rect width="120" height="120" rx="60" fill="white"/>
              <path d="M75.9148 58.7584C77.2705 59.5237 77.2705 61.4763 75.9148 62.2416L50.9832 76.3159C49.6499 77.0686 48 76.1053 48 74.5743L48 46.4257C48 44.8947 49.65 43.9314 50.9832 44.6841L75.9148 58.7584Z" fill="black" fill-opacity="0.5"/>
            </svg>