section.stages
  .site-container
    h2.stages__title.title Как подать заявку на банковскую гарантию
    ul.stages__list
      li.stages__list-item(style="--r:180deg;")
        .stage
          .stage__num
            .stage__num-circle
          .stage__text
            | Чтобы оформить заявку #[a(href="#") войдите] \ #[a(href="#") зарегистрируйтесь] в нашем сервисе
      li.stages__list-item(style="--r:270deg;")
        .stage
          .stage__num
            .stage__num-circle
          .stage__text
            | Создайте заявку в личном кабинете
      li.stages__list-item(style="--r:360deg;")
        .stage
          .stage__num
            .stage__num-circle
          .stage__text
            | Отслеживайте статус заявки в личном кабинете.