footer.footer
	.site-container
		ul.footer__list
			li.footer__list-item
				a.logo(href="/")
					img.logo__img(src="assets/images/logo.svg" alt="Logo")
			li.footer__list-item
				.footer__list-item-title Бесплатный звонок по России
				a.footer__list-item-phone(href="tel:88007751877") 8 (800) 775 18 77
			li.footer__list-item
				.footer__list-item-title Почта
				a.footer__list-item-email(href="mailto:zayavka@bankkazani.ru") zayavka@bankkazani.ru
			li.footer__list-item
				.footer__list-item-title Официальный сайт банка
				a.footer__list-item-email(href="mailto:www.bankofkazan.ru") www.bankofkazan.ru
		.footer__box
			.footer__box-copy © Банк Казани, 2023 #[a(href="/") Лицензия № 708] от 27.05.2016г, ООО КБЭР “Банк Казани”
			.footer__box-creator
				span Создание сайта
				a(href="#")
					img(src="assets/images/footer/MarkWeber.svg" alt="")