.main-menu
  .site-container
    .main-menu__close
      span
      span
    .main-menu__container
      nav.nav.main-menu__nav
        ul.nav__list
          li.nav__item
            a.nav__item-link(class="yakor" href="#guarantees")
              | Виды гарантий
          li.nav__item
            a.nav__item-link(class="yakor" href="#stages")
              | Как подать заявку
          li.nav__item
            a.nav__item-link(class="yakor" href="#faq")
              | Вопросы и ответы
      .main-menu__box
        a.button.button--white(href="/")
          | Оформить гарантию
        a.button.button--border(href="/")
          | Личный кабинет
        a.main-menu__box-telephone(href="tel:88007751877")
          | 8-800-77-518-77