.intro {
  position: relative;
  height: 100vh;
  padding-top: 18.4rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-color: #EDEDED;
  z-index: 1;

  @media screen and (max-height: 600px) {
    min-height: 77.8rem;
  }

  @include mq(sm) {
    height: 100%;
    min-height: 77.8rem;
    padding-top: 42.7rem;
  }

  .site-container {
    height: 100%;
  }

  &__img {
    position: absolute;
    top: -50rem;
    right: -40rem;
    width: 197.8rem;
    height: 202.7rem;
    object-fit: contain;
    z-index: -1;

    @include mq(custom, max, 1800) {
      right: -60rem;
    }

    @include mq(lg) {
      top: -30rem;
      right: -40rem;
      width: 147.8rem;
      height: 152.7rem;
    }

    @include mq(md) {
      right: -50rem;
    }

    @include mq(sm) {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 113.6rem;
      height: 115.6rem;
    }

    @media screen and (max-width: 389px) {
      top: -25rem;
      width: 103.6rem;
      height: 105.6rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 94.4rem;
    height: 100%;
  }

  &__title {
    max-width: 70rem;
    margin-top: 4rem;
    margin-bottom: 3.2rem;
    font-weight: 700;
    font-size: 6.2rem;
    font-family: var(--second-ff);
    line-height: 1.22;

    @media screen and (max-height: 600px) {
      margin-top: 0;
    }

    @include mq(md) {
      font-size: 5.2rem;
    }

    @include mq(sm) {
      margin-bottom: 2.2rem;
      font-size: 4.2rem;
    }

    @include mq(xs) {
      margin-bottom: 1.6rem;
      font-size: 3.2rem;
    }
  }

  &__desc {
    max-width: 46.2rem;
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    line-height: 1.4;
    opacity: 0.75;

    @include mq(xs) {
      margin-bottom: 2.4rem;
      font-size: 1.4rem;
    }
  }

  &__btn {
    align-self: flex-start;
    margin-bottom: 5rem;

    @include mq(xs) {
      margin-bottom: 3.2rem;
    }
  }

  &__items {
    display: flex;
    margin-top: auto;
  }

  &__item {
    width: 20.8rem;
    margin-right: 4.8rem;
    padding-top: 2.4rem;
    border-top: 0.2rem solid #94C22B;

    &:last-child {
      margin-right: 0;
    }

    @include mq(sm) {
      margin-right: 2.4rem;
      border-top: 0.1rem solid #94C22B;
    }

    @include mq(xs) {
      margin-right: 1.2rem;
      padding-top: 1.6rem;
    }
  }

  &__item-price {
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.2;

    @include mq(sm) {
      font-size: 2.2rem;
    }

    @include mq(xs) {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
  }

  &__item-text {
    font-size: 1.6rem;
    opacity: 0.4;

    @include mq(xs) {
      font-size: 1rem;
    }
  }
}
