.review {
  padding: 12rem 0;

  @include mq(md) {
    padding: 9rem 0;
  }

  @include mq(xs) {
    padding: 4.8rem 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include mq(md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 8;
    min-height: 56rem;
    padding: 7.2rem;
    border-radius: 4rem;
    background: radial-gradient(99.65% 100.61% at 76.77% 78.25%, #4DA707 0%, #9DCD2F 100%);
    box-shadow: 0 2rem 12rem 0 rgba(110, 182, 35, 0.40);
    overflow: hidden;

    @include mq(sm) {
      min-height: 100%;
      padding: 2rem;
      border-radius: 2rem;
    }

    @include mq(xs) {
      padding-top: 22.5rem;
    }
  }

  &__banner-img {
    position: absolute;
    top: -17rem;
    right: -26rem;
    width: 106.5rem;
    height: 86.3rem;
    z-index: 0;

    @include mq(sm) {
      top: -7rem;
      right: -13rem;
      width: 50.2rem;
      height: 46.3rem;
    }

    @include mq(xs) {
      top: -9rem;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__banner-title {
    position: relative;
    max-width: 43rem;
    margin-bottom: 2.4rem;
    color: #fff;
    font-size: 4rem;
    z-index: 1;

    @include mq(sm) {
      font-size: 3.4rem;
    }

    @include mq(xs) {
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
    }
  }

  &__banner-desc {
    max-width: 31rem;
    margin-bottom: 2.4rem;
    color: #FFF;
    font-size: 2rem;
    line-height: 1.4;
    opacity: 0.75;

    @include mq(xs) {
      font-size: 1.6rem;
    }
  }

  &__banner-btn {
    margin-top: auto;
  }

  &__video {
    position: relative;
    grid-column: span 4;
    margin-left: 1.2rem;
    padding: 7.2rem 5.7rem 7.2rem 4rem;
    background: #F1F1F1;
    border-radius: 4rem;
    overflow: hidden;

    @include mq(md) {
      margin-top: 2rem;
      margin-left: 0;
    }

    @include mq(sm) {
      min-height: 22rem;
      padding: 2rem;
      border-radius: 2rem;
    }

    video {
      position: absolute;
      top: -18rem;
      left: -56rem;
      z-index: 0;
      height: 94rem;

      @include mq(md) {
        height: 65rem;
        top: -22rem;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mq(xs) {
        top: -12rem;
        height: 46rem;
      }
    }
  }

  &__video-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  &__video-title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.2;

    @include mq(md) {
      order: 1;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    @include mq(md) {
      font-size: 2.4rem;
    }

    @include mq(xs) {
      font-size: 1.6rem;
    }
  }

  &__video-time {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    background: rgba(0, 0, 0, 0.30);
    color: #FFF;
    margin-bottom: 2rem;

    @include mq(xs) {
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
    }
  }

  &__video-play {
    display: inline-block;
    margin-top: auto;

    @include mq(md) {
      align-self: center;
    }

    svg {
      width: 12rem;
      height: 12rem;

      @include mq(sm) {
        width: 7.2rem;
        height: 7.2rem;
      }
    }
  }
}
